body
{
	font-family: verdana;
}
#side-container
{
	position: absolute;
	height: 100%;
	width: auto;
	top: 0px;
	left: -205px;
	background-color: #1E7A71;
}
#side-bar-1
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	padding-left: 5px;
	background-color: #1E7A71;
	color: white;
	

}

#side-bar-2
{
	position: absolute;
	top: 0px;
	left: 205px;
	width: 40px;
	height: 100%;
	padding-left: 15px;
	padding-right: 0px;
	padding-top: 10px;
	background-color: #0D413B;
	color: white;
}


#icon-right
{
	font-size: 24pt;
}
#add-person-butt
{
	position: absolute;
	top: 115px;
	left: 5px;
	width: 30px;
	font-size: 8pt;
	border-left: 4px solid; 
	border-color: #0D413B; 
}
#add-person-butt::shadow #ripple {
  color: #0D413B;
}

#add-person-butt
{
	padding-left: 10px;
}

#add-person-text
{
	position: absolute;
	top: 60px;
}
#icon-user-plus
{
	position: absolute;
	top: 80px;
	left: 15px;
	font-size: 18pt;

}

#icon-paint-brush
{
	position: absolute;
	top: 160px;
	left: 15px;
	font-size: 18pt;

}
#color-box
{
	position: absolute;
	top: 200px;
	width: 200px;
	font-size: 08pt;
	border: 0px solid;
	border-color: #0D413B;

}
#color-1
{
	background-color: #e74c3c;
	width: 65px;
}
#color-2
{
	width: 65px;
	background-color: #3498db;
}
#color-3
{
	width: 65px;
	background-color: #2ecc71;
}
#color-4
{
	width: 65px;
	background-color: #f1c40f;
}
#color-5
{
	width: 65px;
	background-color: #8e44ad;
}
#color-6
{
	width: 65px;
	background-color: #34495e;
}
#add-label-text
{
	position: absolute;
	font-size: 12pt;
	top: 120px;
}
#add-label-butt
{
	position: absolute;
	top: 200px;
	left: 2px;
	width: 30px;
	font-size: 8pt;
	border-left: 4px solid ; 
	border-color: #0D413B; 
}
